*, ::after, ::before {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../images/mapbackground1024by800.jpg");
}

.container {
    width: 100%;
}

h3 {
    color: white;
    font-size: 22px;
}

header {
    align-items: center;
    background-color:  rgb(47,81,255);
    height: 155px;
    border: 1px solid rgb(97, 95, 95)
}

#thumbnail {
    width: 450px;
    margin-left: 7%;
    margin-top: 5%;
    height: 250px;
    grid-template-rows: max-content;
}

img {
    width: 125px;
    height: 125px;
}

.row {
    margin: 15px;
    padding-bottom: 10px;
}


.form-group {
    color: white;
    font-size: 16px;
}

#locationHelp {
    color: white;
}

.wrapper {
    float: right;
    background-color: rgba(47, 82, 255, 0.829);
}

#btnSubmit {
    background-color: rgb(240, 240, 14);
    color: rgb(252, 105, 7);
    font-weight: bold;
}